TW_ENV=development
TW_LOG_LEVEL=INFO

# TW_VITE_DEV_SERVER_URL=http://localhost:5173
# TW_BUNDLE_DIRECTORY=dist

# Server configuration
TW_SERVER_PORT=3000
# TW_SERVER_READ_HEADER_TIMEOUT=2s
# TW_SERVER_READ_TIMEOUT=15s
# TW_SERVER_WRITE_TIMEOUT=30s
# TW_SERVER_IDLE_TIMEOUT=60s

# OTPaas configuration
# TW_OTPAAS_HOST=https://otp.techpass.suite.gov.sg
# TW_OTPAAS_ID=
# TW_OTPAAS_NAMESPACE=
# TW_OTPAAS_SECRET=
# TW_OTPAAS_TIMEOUT=10s

# PG (Parents Gateway) integration
TW_PG_MOCK=true
# TW_PG_BASE_URL=https://pg.moe.edu.sg
# TW_PG_TIMEOUT_MS=10000
#
# To use local pgw-web instead of mocks:
# TW_PG_MOCK=false
# TW_PG_BASE_URL=http://localhost:3001
# TW_PG_TIMEOUT_MS=10000
